<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旗帜</title>
</head>
<body>
<div monkey="text">
    {{#pages}}
        <p>
            <a href="{{dir_path}}">
                <font> {{title}} </font>
            </a>
        </p>
    {{/pages}}
</div>
</body>
</html>